{% extends "core/base.html" %}

{% block title %}Запросы в поддержку{% endblock %}

{% block content %}
<h1>Обращения пользователей</h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с подключением станции #123
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с изменением параметров станции #124
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с загрузкой интерактивной карты #125
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с отображением осадков на интерактивной карте #126
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с построением графика выроботки #127
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Проблема с получением контактной информации сервиса обслуживания #128
    </a>
</div>
{% endblock %}