{% extends "core/base.html" %}

{% block title %}Управление пользователями{% endblock %}

{% block content %}
<h1>Список пользователей</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        <!-- Данные будут здесь -->
        <tr>
            <td>1</td>
            <td>user1</td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td>2</td>
            <td>root</td>
            <td>Администратор</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Иван Петров</td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ольга Смирнова</td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Алексей Кузнецов</td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Наталья Иванова</td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Дмитрий Орлов</td>
            <td>Оператор</td>
        </tr>
    </tbody>
</table>
{% endblock %}