{% extends "core/base.html" %}

{% block sidebar %}
<h5>Меню пользователя</h5>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'user_dashboard' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_stations' %}">Мои станции</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_monitoring' %}">Мониторинг</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_recommendations' %}">Рекомендации</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h2>Личный кабинет</h2>
<div class="alert alert-success">
    Добро пожаловать, {{ user.username }}! Здесь вы можете управлять своими солнечными станциями.
</div>
{% endblock %}